<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include('meta'); -%>
    
    <title>The name of site</title>
    <%- include('import-css'); -%>
    <link rel="stylesheet" href="/static/css/home.css">

</head>
<body>
    <%- include('nav'); -%>

    <section class="gallery mt-5 container">

    </section>
    <%- include('import-js'); -%>

    </body>
</html>