body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}
.bg {
    margin: 0 auto;
    width: 100%;
    height: 95%;
    background: url(/static/assets/anime-characters.webp) no-repeat center;
    background-size: cover;
}
.f-box {
    display: inline-block;
}
.f-thumb {
    width: 360px !important;
    height: 360px;
}
.slogan {
    position: absolute; 
    font-size: 3rem;
}
.pos-abs-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.profile-image {
    width: 35px;
    height: 35px;
}
code {
    color: #3e99e8 !important;
}
@media screen and (min-width: 480px) {
    .card-lg {
        height: 455px !important;
    }
}